
  .player {
    position: absolute;
    width: 30vh;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 17%;
  }
  .table { 
    background: linear-gradient(90deg, rgba(116,77,28,1) 7%, rgba(132,92,47,1) 52%, rgba(96,70,47,1) 92%);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.571);
    width: 70%;
    height: 70%;
    border-radius: 5px;
  }

  .player-avatar {
    border: solid white 2px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0%;
    /* background-image: var(--avatar-image);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.player-cards {
    position: absolute;
    height: 50%;
    width: 90%;
    top: 32%;
    z-index: 1;
    background-image: url(../assets/textures/cardsPlaceholder.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cards-left {
    position: absolute;
    font-size: 2rem;
    color: white;
    top: 75%;
    left: 87%;
}
.player-name {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    z-index: 5;
}

.player-avatar-left{
  right: 10%;
}
.player-left{
  left: 0;
}
/* .player-cards-left {
  left: 15%;
} */
.player-name-left {
    bottom: 5%;
    left: 3%;
}

.player-top {
  height: 30vh;
  width: 60vh;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 35%;
  z-index: 4;
}
.player-avatar-top {
    top: 3%;
    left: 70%;
}
.player-cards-top {
  height: 90%;
  width: 50%;
  transform: rotate(90deg);
  top: 10%;
}
.cards-left-top {
  left: 5%;
  top: 60%;
}
.player-name-top {
    bottom: 10%;
    right: 5%;
}



.player-right {
  right: 0%; 
  align-items: center;
  justify-content: flex-end;
}
.player-avatar-right {
    top: 0%;
    left: 10%;
}
.player-cards-right {
  transform: rotate(180deg);
  top: 33%;
  right: 15%;
}
.cards-left-right {
  left: 5%;
  top: 75%;
} 
.player-name-right {
    bottom: 5%;
    right: 3%;
}
