:root{
  --avatar-image: url(./assets/textures/ava.jpg);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Tilda;
}
 
@font-face {
  font-family: Tilda;
  src: url(/public/fonts/almostLobster1.otf);
}

